/*
Theme Name: creativecommons.org Chile theme
Theme URI: https://creativecommons.org/
Author: Creative Commons
Author URI: https://creativecommons.org/
Description: creativeommons.org website child theme.
Template: wp-theme-base
Version: 2020.4.1
License: GPL2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
*/