.choose-license {
	padding: $space-big;
	color: $color-black;
	background-color: $color-gray;
	h2, p {
		a {
			color: $color-white;
		}
	}
	.image {
		padding-bottom: $space-normal;
		margin-bottom: $space-normal;
		border-bottom: 1px solid $color-white;
	}
}

.platform-partner {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;
		list-style: none !important;
		li {
			flex: 0 1 18%;
			img {
				max-width: none;
				width: 100%;
			}
		}
	}
}
.cc-team-shortcode {
	.cc-team-listing {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		align-content: stretch;
		list-style: none;
		li {
			flex: 0 1 30%;
			position: relative;
			padding-bottom: 50px;
			margin-bottom: $space-big;
			list-style-image: none;
			background-color: $color-lighter-gray;
			.intro {
				padding: $space-big;
				.name {
					font-size: 1.8rem;
					font-weight: 700;
				}
				.position {
					color: $color-dark-slate-gray;
					font-weight: 700;
				}
				.description {
					padding-top: $space-small;
					border-top: 2px solid $color-white;
					.more {
						text-transform: uppercase;
						font-weight: 700;
					}
				}
			}
		}
	}
}